@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    background-color: #000;
    font-family: ubuntu;
}
.main{
    color: #fff;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.heading{
    margin: 5px 0px;
    font-size: 30px;
    font-weight: bold;
}
.InputTask{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10PX;
    padding-left: 5px;
    border-radius: 10px;
    background-color: transparent;
    border: 1.5px solid #fff;
    color: #fff;
    height: 25px;
}
.listCard{
    border-radius: 10px;
    
    padding: 25px 50px;
    background-color: #434a4b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AddBtn{
    
    background-color: #2b75d7;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 1.5px solid #540d0d;
    margin-left: 10px;
    padding: 0;

}
.AddBtn:hover{
    background-color: #414d9d;
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
li{
    list-style-type: none;
}
#delete{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border:1px solid #fff
}
#delete:hover{
    background-color: #d40b0b;
    cursor: pointer;
}
.newtask{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.displayTask{
    border-radius: 15px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    
}
/* 
.displayTask li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;


} */
 .displayTask li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin: 8px 0;
    background-color: #000;
    border-radius: 8px;
    border: 1px solid #444;
    color: #fff;

}
.completed {
    text-decoration: line-through;
}

.displayTask li:hover {
    cursor: pointer;
    background-color: #2a2a2a;
}

#delete{
    margin-left: 100px;
}