@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Jost;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url();
}
.input-area {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 50vh;
  border-radius: 25px;
}
.add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d80dd;
  height: 40px;
  width: 40px;
  font-size: 180%;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 100px;
  cursor: pointer;
}
#task-input {
  border-radius: 30px;
  padding-left: 10px;
  background-color: inherit;
  margin-right: -40px;
  border: 1px solid white;
}
.add:hover {
  background-color: #0d5599;
}
.to-doapp {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vh;
  border-radius: 10px;
  background-color: #202127;
  padding-bottom: 40px;
}
.tasks {
  list-style-type: none;
  background-color: #000;
  display: flex;
  width: 40vh;
  border-radius: 30px;
  margin-top: 10px;
  padding: 10px;
}
.show-tasks {
  display: flex;
  justify-content: space-between;
}
.Tasks-status {
  display: none;
}
.delete {
  color: #fff;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: #e91c1c;
  height: 30px;
  width: 30px;
  font-size: 180%;
  border-radius: 200%;
  border: 1px solid black;
}
.delete:hover {
  background-color: #b00000;
  cursor: pointer;
}
.singular-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  width: 100%;
}
.wrap1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
#task-done {
  accent-color: #1d80dd;
  width: 20px;
  height: 20px;

  cursor: pointer;
}
